@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

ul {
  margin-left: 20px;
}

p,
ul,
input {
  font-size: 16px;
  line-height: 24px;
}

span {
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

.alt-text {
  font-size: 12px;
  padding: 20px;
  color: var(--primary);
  cursor: pointer;
  display: none;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 15px 40px;
}

.fixed-button {
  position: fixed;
  right: 40px;
  z-index: 1;
}

.hidden {
  display: none !important;
  width: 0;
  height: 0;
  min-height: 0;
  min-width: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

main {
  padding-top: 100px;
}

@media (max-width: 768px) {
  p,
  input {
    font-size: 14px;
    line-height: 20px;
  }
  span {
    font-size: 14px;
    line-height: 16px;
  }
  .container {
    padding: 15px 20px;
  }
  .fixed-button {
    right: 20px;
  }
  main {
    padding-top: 80px;
  }
  main.more {
    padding-top: 150px;
  }
}

@media (max-width: 576px) {
  p,
  input {
    font-size: 12px;
    line-height: 16px;
  }
  span {
    font-size: 14px;
    line-height: 16px;
  }
}

/* Common Styles */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}
