@import url("variables.css");

/* Search Input */
.search-box {
  padding: 15px 26px;
  background-color: var(--gray-fill);
  width: 100%;
  border-radius: 4px;

  gap: 10px;
}

.search-box input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
}

@media (max-width: 768px) {
  .search-box {
    padding: 11px 26px;
  }
}

/* Page */
.page-title {
  margin-bottom: 50px;
  font-weight: 500;
}

/* Product Preview */
.carousel-lists {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.products-carousel {
  width: 100%;
  min-height: 524px;

  margin-bottom: 100px;
}

.products-carousel .content {
  display: flex;
  gap: 20px;

  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  gap: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  cursor: pointer;
}

.product-image {
  height: 100%;
  width: 330px;
  max-height: 334px;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #585858;

  text-align: center;

  font-size: 14px;
  line-height: 1.42859;
  letter-spacing: -0.016em;
  font-weight: 600;
  color: #1d1d1f;

  padding: 20px 40px 40px 40px;
}

.product-name {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-weight: 400;
}

.product:hover .product-name {
  color: #06c;
}

@media screen and (max-width:640px) {
  .product-image{
    width: 250px;
  }
  .product-details {
    padding: 0px 20px 40px 30px;
  }
}

/* Store */
.store {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.store-icon {
  width: 40px;
  height: 40px;
}

.store-name {
  font-size: clamp(20px, 5vw, 40px);
  color: #4d4a4a;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Empty List */
.empty-list {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #3c4262;
}

.empty-list figure {
  margin-bottom: 20px;
  height: 250px;
  width: 100%;
}

.empty-list p {
  max-width: 500px;
  color: #474e76;
}

/* Searching */
.searching {
  margin: 40px 0;
  font-weight: 500;
}

/* Button */
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link-button, a {
  color: #06c;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

/* Loader */
.loader {
  display: flex;

  margin: 40px auto;
}

.loader span {
  width: 20px;
  height: 150px;
  margin: 4px;

  border-radius: 10px;
  animation: wave 0.8s ease-in-out infinite;
}

.loader span:first-child {
  background-color: var(--ca);
  animation-delay: -0.7s;
}

.loader span:nth-child(2) {
  background-color: var(--cb);
  animation-delay: -0.6s;
}

.loader span:nth-child(3) {
  background-color: var(--cc);
  animation-delay: -0.5s;
}

.loader span:nth-child(4) {
  background-color: var(--cd);
  animation-delay: -0.4s;
}

.loader span:nth-child(5) {
  background-color: var(--ce);
  animation-delay: -0.3s;
}

.loader span:nth-child(6) {
  background-color: var(--cf);
  animation-delay: -0.2s;
}

.loader span:nth-child(7) {
  background-color: var(--cg);
  animation-delay: -0.1s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: scaleY(0.5);
  }
  35% {
    transform: scale(1);
  }
}

/* Scroll bar */

/* width */
.fancy-scroll-bar::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.fancy-scroll-bar::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f2f2f2;
}

/* Handle */
.fancy-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #585858;
  border-radius: 10px;
  cursor: pointer;
}

/* Modal */
.modal{
  position: fixed;
  bottom: -80vh;
  min-height: 20vh;
  max-height: 80vh;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 20px 20px 0 0;
  padding-bottom: 50px;
  overflow-y: scroll;
  transition: .3s ease-in-out;
}

.modal .close-button{
  position: fixed;
  right: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 1000px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.show{
  bottom: 0;
}

.modal.hide{
  bottom: -80vh;
}

.modal h3{
  padding-top: 50px;
  padding-right: 50px;
}

.product-info-grid{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 40px;
}

.product-info-grid figure{
  width: 50%;
  max-width: 400px;
}

.product-info-grid figure img{
  border-radius: 20px;
}

.product-info-grid .product-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-info-grid span{
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .product-info-grid{
    flex-direction: column;
  }
  .product-info-grid figure{
    width: 100%;
  }
}
