:root {
  --gray-fill: #f5f5f5;
  --gray-text: #c4c4c4;
  --primary: #08b2e8;

  --ca: #c9c9c9;
  --cb: #aeaeae;
  --cc: #838383;
  --cd: #3a3a3a;
  --ce: var(--cc);
  --cf: var(--cb);
  --cg: var(--ca);
  --ch: hsl(144, 74%, 49%);
  --ci: hsl(300, 76%, 72%);
}
